#block-region-side-pre, #block-region-side-post
{
	h2
	{
		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
		color:@darkRed;
	}
}

#region-main h2
{
	color:@mediumGreen;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; /* Large Headings */
}

h3.sectionname
{
	color:@darkRed;
}

