a
{
	color:@mediumGreen;
}

a:hover, a:focus
{
	color:@darkRed;
}

#block-region-side-pre, #block-region-side-post, #frontpage-course-list, #frontpage-category-combo, #frontpage-category-names, #region-main, #region-main .sitetopic, #region-main #site-news-forum
{
	padding:4px 6px;
	background:@white;
	border:1px solid @lightGreen;
	
	/*> div
	{
		margin:0 0;
	}*/
}

#page-site-index #region-main
{
	background:none;
	border:0;
	padding:0;
}

.pagelayout-frontpage #region-main > div
{
	padding:0;
	background:none;
	border:none;
}

.breadcrumb, .cache-definition-stats
{
	background:@white;
	border:1px solid @lightGreen;
}

#page-navbar
{
	
}

.block
{
	border:none;
	border-bottom:1px dashed @grey;
	background:none;
	border-radius:none;
	box-shadow:none;
}

@course-image-width: 150px;

.courses .coursebox.even
{
    background: @white;
}

.coursebox
{
    padding:0;
    margin:1em;
    
    border:2px solid @darkGray;
    
    border-radius:0;
    
    h3
    {
        font-size:1.5em;
        font-weight: 300;
        margin: 0;
        padding: 5px;
        
        a
        {
            color:@darkRed;
        }
    }
    
    .course-details p
    {
        padding:5px;   
    }
    
    .course-image
    {
        
        > div.course-sidebar
        {
            width:150px;

            ul
            {
                list-style: none;
                margin:0.5em 0.4em;
                padding:0;
            }

            .course-sidebar-heading
            {
                background:@darkGray;
                font-weight:bold;
                color: @grayFont;
                padding:3px;
            }
        }
        
        float:right;
        background: @gray;
        border-radius: 0;
        
        border-left:1px solid @darkGray;
        
        font-size: 0.8em;
        
        img.course-thumb 
        {
            width:@course-image-width;
        }
    }
    
    .course-box-bar
    {
        padding: 4px;
        
        ul
        {
            display: inline;
            li
            {
                display: inline;
                margin: 0 0.25em;
                a
                {

                }
            }
        }
        
        .fp-filename-icon
        {
            display:inline;
            
            .fp-icon
            {
                float:none;
            }
        }
    }
}

.courses .coursebox:hover, .course_category_tree .courses
{
    background: @white;   
}

#region-main .sitetopic
{
	margin-bottom:1em;
	padding:1em;
}

#course-category-listings
{
	background:none;
}

.category-listing
{
	background:@white;
}

.generalbox
{
	.box-mixin;
	border:1px dotted darken(@grey, 10%);
	margin-bottom:10px;
}

.questioncategories li
{
	line-height:28px;
}